body {
    font-family: 'nunito',sans-serif;
    background: #f5d9d5;
}

nav {
    font-weight: 100;
}
#brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}
#nav-items .nav-link:hover {
    color: #EA1C2C;
}

#nav-items .nav-link{
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.slash {
    color:#F40B78;
}

.heading1 {
    font-weight: 100;
    font-size: 3.5rem;
}

.xyz h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
}

@media(max-width: 1200px) {
    .heading1 {
        font-size: 2.5rem;
    }
    .xyz h2 {
        font-size: 2rem;
    }
}


.xyz p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: 750ms;
}